
<div class="container">
    
        <div class="modal-body" id="modal-body">
     
             <input col-sm-5 placeholder="Enter OTP" class="form-control" ng-model="userotp">
            
        </div>
        <div class="modal-footer">
         <button class="btn btn-primary" type="button" ng-click="approve()">Pay</button>&nbsp
         <button class="btn btn-danger" type="button" ng-click="close()">Cancel</button>
         
     </div>
        <div ng-show="status==-1"  class="card-text" style="color: red;">
            <h5 class="card-text text-center">Invalid OTP</h5>
        </div>
     </div>